$blue:          #1FBCFF;
$dark-blue:     #0080DC;
$red:           #FF3434;
$dark-red:      #CA0202;
$orange:        #FFB800;
$dark-orange:   #F79400;
$grey:          #A7A7A7;
$dark-grey:     #616161;
$dark:          #4a4a4a;
$black:         #333;

$leftbar-background-color: #fff;
$leftbar-font-color: #666;
$navbar-background-color: #fff;
$navbar-font-color: #4a4a4a;
$app-background-color: #f8f8f8;