@import './color.scss';
@import './animation.scss';

* {
    list-style: none;
    box-sizing: border-box;
    color: $dark;
}

@mixin flex-center($direction) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
    flex-wrap: nowrap;
}
@mixin flex($direction, $isWrap, $align-h, $align-v){
    display: flex;
    flex-direction: $direction;
    flex-wrap: $isWrap;
    justify-content: $align-h;
    align-items: $align-v;
}

@mixin init {
    margin: 0;
    padding: 0;
    list-style: none;
    border: none;
    outline: none;
    text-decoration: none;
}